[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/muflihun/easyloggingpp.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
